<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SseServlet</servlet-name>
        <servlet-class>nl.mansoft.sseserver.SseServlet</servlet-class>
        <init-param>
            <param-name>sseTask</param-name>
            <param-value>nl.mansoft.ssedatabending.SseOSCTask</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SendOSC</servlet-name>
        <servlet-class>nl.mansoft.ssedatabending.SendOSC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Device</servlet-name>
        <servlet-class>nl.mansoft.ssedatabending.Device</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Devices</servlet-name>
        <servlet-class>nl.mansoft.ssedatabending.Devices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OSCLink</servlet-name>
        <servlet-class>nl.mansoft.ssedatabending.OSCLink</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SseServlet</servlet-name>
        <url-pattern>/SseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendOSC</servlet-name>
        <url-pattern>/SendOSC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Device</servlet-name>
        <url-pattern>/Device</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Devices</servlet-name>
        <url-pattern>/Devices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OSCLink</servlet-name>
        <url-pattern>/OSCLink</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
